:root {
  --light-yes: {{doc.themes.light.yes}};
  --light-no: {{doc.themes.light.no}};
  --dark-yes: {{doc.themes.dark.yes}};
  --dark-no: {{doc.themes.dark.no}};
  --direction: {{doc.config.direction}};
  --expanded-w: {{expandedW}}%;
  --expanded-h: {{expandedH}}%;
  --contracted-w: {{contractedW}}%;
  --contracted-h: {{contractedH}}%;
  --size-h: {{sizeH}}%;
  --size-w: {{sizeW}}%;
  --direction: {{direction}};
  --direction-mobile: {{directionMobile}};
  --expanded-w-mobile: {{expandedWMobile}}%;
  --expanded-h-mobile: {{expandedHMobile}}%;
  --contracted-w-mobile: {{contractedWMobile}}%;
  --contracted-h-mobile: {{contractedHMobile}}%;
  --size-h-mobile: {{sizeHMobile}}%;
  --size-w-mobile: {{sizeWMobile}}%;  
}