:root {
  --light-yes: {{doc.themes.light.default.yes}};
  --light-no: {{doc.themes.light.default.no}};
  --active-light-yes-color: {{doc.themes.light.active.yes}};
  --active-light-no-color: {{doc.themes.light.active.no}};  
  --dark-yes: {{doc.themes.dark.default.yes}};
  --dark-no: {{doc.themes.dark.default.no}};
  --active-dark-yes-color: {{doc.themes.dark.active.yes}};
  --active-dark-no-color: {{doc.themes.dark.active.no}};
  --custom-theme-yes: {{confirmModel.customThemeYes}};
  --custom-theme-no: {{confirmModel.customThemeNo}};
  --active-custom-theme-yes: {{confirmModel.customThemeActiveYes}};
  --active-custom-theme-no: {{confirmModel.customThemeActiveNo}};
  --direction: {{doc.config.direction}};
  --expanded-w: {{confirmModel.expandedW}}%;
  --expanded-h: {{confirmModel.expandedH}}%;
  --contracted-w: {{confirmModel.contractedW}}%;
  --contracted-h: {{confirmModel.contractedH}}%;
  --size-h: {{confirmModel.sizeH}}%;
  --size-w: {{confirmModel.sizeW}}%;
  --direction: {{confirmModel.direction}};
  --direction-mobile: {{confirmModel.directionMobile}};
  --expanded-w-mobile: {{confirmModel.expandedWMobile}}%;
  --expanded-h-mobile: {{confirmModel.expandedHMobile}}%;
  --contracted-w-mobile: {{confirmModel.contractedWMobile}}%;
  --contracted-h-mobile: {{confirmModel.contractedHMobile}}%;
  --size-h-mobile: {{confirmModel.sizeHMobile}}%;
  --size-w-mobile: {{confirmModel.sizeWMobile}}%;  
}