<div class='message-container'>
    <p class="wait">Wait!</p>
    <p class="warning">You are leaving this site and going to '<b>{{{open_link}}}</b>'</p>
    <p>Be sure that it's what you want and confirm that you trust the link above.</p>
</div>
